@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #7434eb;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  background-image: url('./assets/bg.jpg');
  background-position: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  /* writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  padding: 10px; */
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}